<h2>Remove project?</h2>

<p>{{project.name}}</p>

<mat-form-field class="form-input">
    <input matInput
           name="projectName"
           type="text"
           placeholder="Type project name"
           [formControl]="projectName"
           required>

    <mat-error *ngIf="projectName.hasError('required')">
        You must enter a value
    </mat-error>
</mat-form-field>

<p>
    <button mat-button color="warn"
            [mat-dialog-close]="true"
            [disabled]="projectName.invalid || projectName.value !== project.name">Remove</button>
    <button mat-button color="primary" [mat-dialog-close]="false">Close</button>
</p>
