<div [@init]="!init" class="grid-container">
    <div class="header">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter projects">
        </mat-form-field>

        <button mat-icon-button (click)="add()" matTooltip="Add project" [matTooltipPosition]="'below'">
            <mat-icon class="md-24">add</mat-icon>
        </button>
    </div>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <button mat-icon-button class="btn-remove" (click)="remove()" matTooltip="Delete project" [matTooltipPosition]="'below'">
                <mat-icon class="md-24">close</mat-icon>
            </button>

            <h1 class="edit" (click)="toArticle()">title</h1>
        </mat-grid-tile>

        <mat-grid-tile>
            <button mat-icon-button class="btn-remove" (click)="remove()" matTooltip="Delete project" [matTooltipPosition]="'below'">
                <mat-icon class="md-24">close</mat-icon>
            </button>

            <h1 class="edit" (click)="toArticle()">title</h1>
        </mat-grid-tile>

        <mat-grid-tile>
            <button mat-icon-button class="btn-remove" (click)="remove()" matTooltip="Delete project" [matTooltipPosition]="'below'">
                <mat-icon class="md-24">close</mat-icon>
            </button>

            <h1 class="edit" (click)="toArticle()">title</h1>
        </mat-grid-tile>
        
    </mat-grid-list>
</div>
