<div class="header">
    <mat-form-field floatPlaceholder="never">
        <input matInput #filter placeholder="Filter projects">
    </mat-form-field>

    <button mat-icon-button (click)="add()" matTooltip="Add project" [matTooltipPosition]="'below'">
        <mat-icon class="md-24">add</mat-icon>
    </button>
</div>

<div class="grid-container">
    <mat-grid-list [@update]="!update" cols="2" rowHeight="1:1">
        <mat-grid-tile *ngFor="let item of project.list | async" [ngStyle]="{'background': item.color}">
            <div class="key">key: {{item.apiId}}</div>

            <button mat-icon-button class="btn-remove" [matMenuTriggerFor]="menu">
                <mat-icon class="md-24">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="edit(item)">Edit</button>
                <button mat-menu-item (click)="remove(item)" class="warn">Remove</button>
            </mat-menu>

            <h1 class="edit" (click)="toArticle()">{{item.name}}</h1>
        </mat-grid-tile>

    </mat-grid-list>
</div>
