<!-- Toggle button -->
<div class="switch-button" *ngIf="!(authService.user | async)">
    <button mat-icon-button (click)="toggleState()" [ngSwitch]="toggle">
        <mat-icon class="md-24" *ngSwitchCase="true"   matTooltip="Login"   [matTooltipPosition]="'left'">arrow_forward</mat-icon>
        <mat-icon class="md-24" *ngSwitchCase="false"  matTooltip="Sing up" [matTooltipPosition]="'left'">account_circle</mat-icon>
    </button>
</div>

<!-- Login Form -->
<div *ngIf="!toggle" [@toggleState]="!toggle" class="form-container">
    <div class="form">
        <h1>Login</h1>

        <mat-form-field class="form-input">
            <input matInput
                   name="email"
                   type="email"
                   placeholder="email"
                   [formControl]="email"
                   (input)="changeInput()"
                   email required>

            <mat-error *ngIf="email.hasError('required')">
                You must enter a value
            </mat-error>

            <mat-error *ngIf="email.hasError('email')">
                Not a valid email
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-input">
            <input matInput
                   name="password"
                   type="password"
                   placeholder="password"
                   [formControl]="password"
                   (input)="changeInput()"
                   minlength="6" required>

            <mat-error *ngIf="password.hasError('required')">
                You must enter a value
            </mat-error>

            <mat-error *ngIf="password.hasError('minlength')">
                Password must have more than 6 characters
            </mat-error>
        </mat-form-field>

        <mat-error class="error" *ngIf="authService.error">{{authService.error}}</mat-error>

        <p class="action">
            <button mat-button  (click)="login()" [disabled]="email.invalid || password.invalid">Login</button>
        </p>
    </div>
</div>

<!-- Sing Up Form -->
<div *ngIf="toggle" [@toggleState]="toggle" class="form-container">
    <div class="form">
        <h1>Sing Up</h1>

        <mat-form-field class="form-input">
            <input matInput
                   name="email"
                   type="email"
                   placeholder="email"
                   [formControl]="email"
                   (input)="changeInput()"
                   email required>

            <mat-error *ngIf="email.hasError('required')">
                You must enter a value
            </mat-error>

            <mat-error *ngIf="email.hasError('email')">
                Not a valid email
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-input">
            <input matInput
                   name="password"
                   type="password"
                   placeholder="password"
                   [formControl]="password"
                   (input)="changeInput()"
                   minlength="6" required>

            <mat-error *ngIf="password.hasError('required')">
                You must enter a value
            </mat-error>

            <mat-error *ngIf="password.hasError('minlength')">
                Password must have more than 6 characters
            </mat-error>
        </mat-form-field>

        <mat-error class="error" *ngIf="authService.error">{{authService.error}}</mat-error>

        <p class="action">
            <button mat-button (click)="signUp()" [disabled]="email.invalid || password.invalid">Sing Up</button>
        </p>
    </div>
</div>
