<!-- Toggle button -->
<div class="header" *ngIf="!(authService.user | async)">
    <span></span>
    <button mat-button (click)="toggleState()" [ngSwitch]="toggle">
        <span *ngSwitchCase="false">sing up</span>
        <span *ngSwitchCase="true" >login</span>
    </button>
</div>

<!-- Login Form -->
<div *ngIf="!toggle" [@toggleState]="!toggle" class="form-container">
    <div class="form">
        <h2>Login</h2>

        <mat-form-field class="form-input">
            <input matInput
                   name="email"
                   type="email"
                   placeholder="email"
                   [formControl]="email"
                   (input)="changeInput()"
                   email required>

            <mat-error *ngIf="email.hasError('required')">
                You must enter a value
            </mat-error>

            <mat-error *ngIf="email.hasError('email')">
                Not a valid email
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-input">
            <input matInput
                   name="password"
                   type="password"
                   placeholder="password"
                   [formControl]="password"
                   (input)="changeInput()"
                   minlength="5" required>

            <mat-error *ngIf="password.hasError('required')">
                You must enter a value
            </mat-error>

            <mat-error *ngIf="password.hasError('minlength')">
                Password must have more than 5 characters
            </mat-error>
        </mat-form-field>

        <mat-error class="error" *ngIf="authService.error">{{authService.error}}</mat-error>

        <p class="action">
            <button mat-button  (click)="login()" [disabled]="email.invalid || password.invalid">Login</button>
        </p>
    </div>
</div>

<!-- Sing Up Form -->
<div *ngIf="toggle" [@toggleState]="toggle" class="form-container">
    <div class="form">
        <h2>Sign Up</h2>

        <mat-form-field class="form-input">
            <input matInput
                   name="email"
                   type="email"
                   placeholder="email"
                   [formControl]="email"
                   (input)="changeInput()"
                   email required>

            <mat-error *ngIf="email.hasError('required')">
                You must enter a value
            </mat-error>

            <mat-error *ngIf="email.hasError('email')">
                Not a valid email
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-input">
            <input matInput
                   name="password"
                   type="password"
                   placeholder="password"
                   [formControl]="password"
                   (input)="changeInput()"
                   minlength="5" required>

            <mat-error *ngIf="password.hasError('required')">
                You must enter a value
            </mat-error>

            <mat-error *ngIf="password.hasError('minlength')">
                Password must have more than 5 characters
            </mat-error>
        </mat-form-field>

        <mat-error class="error" *ngIf="authService.error">{{authService.error}}</mat-error>

        <p class="action">
            <button mat-button (click)="signUp()" [disabled]="email.invalid || password.invalid">Sign Up</button>
        </p>
    </div>
</div>
