.header {
    display: flex;
    align-items: center;
    min-height: 48px;
}

.header span {
    flex: 1;
}

.form-container {
    display: flex;
    height: calc(100vh - 80px);
}

.form {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.form-input {
    width: 100%;
}

.error {
    position: absolute;
    width: 250px;
    overflow: hidden;
    font-size: 75%;
}

.action {
    margin-top: 32px;
}

.btn-switch /deep/ .mat-button-focus-overlay {
    background-color:transparent;
}

@media(max-width:767px){
    .form {
        margin: auto;
    }
}