.table-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 90vh;
}

.header {
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    min-height: 64px;
    justify-content: space-between;
}

.mat-form-field {
    flex-grow: 1;
   /* margin-left: 32px; */
}

.mat-table {
    width: 100%;
    overflow: auto;
    max-height: 1000px;
    opacity: 0;
}

.action {
    flex: 0 0 40px;
}

.title{
    flex: 0 0 150px;
}

.title-description {
    font-weight: 700;
}

.description {
    font-size: 90%;
    color: rgba(0, 0, 0, 0.54);
}

.text {

}

.text-description {
    font-size: 90%;
}

@media(max-width:767px){
    .text {
        display: none;
    }

    .action {
        flex: 1;
    }

    .title {
        flex: 1;
    }

}