<div class="table-container">

    <div class="header">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter articles">
        </mat-form-field>
        <button mat-icon-button (click)="addArticle()" matTooltip="Add text" [matTooltipPosition]="'below'">
            <mat-icon class="md-24">add</mat-icon>
        </button>
    </div>
<div>
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="text">
            <mat-header-cell *matHeaderCellDef> Text </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.text | slice:0:50 }}...</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>

    </mat-table>
</div>
</div>
<!--
<div class="text-right">
    <button mat-icon-button (click)="addArticle()" matTooltip="Add text" [matTooltipPosition]="'left'">
        <mat-icon class="md-24">add</mat-icon>
    </button>
</div>
-->