<form [@fade-in]="'in'" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="input">
        <mat-select  name="projectId"  formControlName="projectId" placeholder="Select category" required>
            <mat-option *ngFor="let item of (projectService.list | async)" [value]="item.id">
                {{ item.name }}
            </mat-option>
        </mat-select>

        <mat-error *ngIf="form.get('projectId').hasError('required')">You must enter a value</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
        <input matInput
               name="title"
               formControlName="title"
               type="text"
               placeholder="title"
               minlength="3" required>

        <mat-error *ngIf="form.get('title').hasError('required')">You must enter a value</mat-error>
        <mat-error *ngIf="form.get('title').hasError('minlength')">Title must have more than 3 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
        <input matInput
               name="description"
               formControlName="description"
               type="text"
               placeholder="description">
    </mat-form-field>

    <mat-form-field class="input">
        <textarea matInput
                  name="text"
                  formControlName="text"
                  placeholder="Text">
        </textarea>
    </mat-form-field>

    <p>
        <button type="submit" mat-button [disabled]="form.invalid">Add</button>
    </p>
</form>