<div class="header" *ngIf="authService.user | async">
    <button mat-icon-button (click)="logout()" matTooltip="Logout" [matTooltipPosition]="'below'">
        <mat-icon class="md-24">close</mat-icon>
    </button>

    <span>{{this.title}}</span>

    <button mat-icon-button
            matTooltip="Articles"
            [routerLink]="['texts']"
            [routerLinkActive]="'is-active : not-active'"
            [matTooltipPosition]="'left'">
        <mat-icon class="md-24">reorder</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Projects"
            [matTooltipPosition]="'left'"
            [routerLink]="['projects']"
            [routerLinkActive]="'is-active : not-active'">
        <mat-icon class="md-24">folder</mat-icon>
    </button>
</div>

<router-outlet></router-outlet>