<div class="header">
    <mat-icon svgIcon="chest"></mat-icon>

    <span class="title">{{this.title  | slice:1:25}}</span>

    <div *ngIf="authService.user | async">
        <button mat-icon-button
                routerLink="/projects"
                routerLinkActive="is-active"
                matTooltip="Projects">
            <mat-icon class="md-24">folder</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="md-24">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>

    <div *ngIf="!(authService.user | async)" >
        <a mat-button routerLink="/login" routerLinkActive="is-active">login</a>
        <a mat-button routerLink="/sign-up" routerLinkActive="is-active">sign up</a>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>