:host {
    display: block;
    padding: 8px;
    max-width: 700px;
    height: 100%;
    margin: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.header {
    display: flex;
    align-items: center;
    min-height: 48px;
}

.header span {
    flex: 1;
}

.is-active {
    display: block;
}

.not-active {
    display: none;
}