:host {
    display: block;
    padding: 8px;
    max-width: 700px;
    height: 100%;
    margin: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.container {
    height: calc(100vh - 80px);
}

.header {
    display: flex;
    align-items: center;
    min-height: 48px;
    opacity: 0;
}

.header .title {
    flex: 1;
    padding-left: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.is-active {
    display: none;
}

@media(max-width:767px){
    .header .title {
        font-size: 12px;
    }
}