/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    color: #0F110C;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.warn {
    color: #e53935;
}