/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    color: #0F110C;
    background: rgba(0, 0, 0, 0.02);
}

.header {
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    justify-content: space-between;
}

.overflow-container {
    overflow: auto;
    height: 100%;
}

.input {
    width: 100%;
}

.error {
    font-size: 75%;
}

.login-form {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

@media(max-width:767px){
    .login-form {
        margin: auto;
    }
}
