<h3>Project</h3>

<form [formGroup]="form" (ngSubmit)="update()">

    <mat-form-field class="input">
        <input matInput
               name="name"
               formControlName="name"
               type="text"
               placeholder="name"
               minlength="3" required>

        <mat-error *ngIf="form.get('name').hasError('required')">
            You must enter a value
        </mat-error>

        <mat-error *ngIf="form.get('name').hasError('minlength')">
            Title must have more than 3 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="project.apiId !== ''" class="input">
        <input matInput
               name="apiId"
               formControlName="apiId"
               type="text"
               placeholder="id">
    </mat-form-field>

    <p>
        <button mat-button [mat-dialog-close]="false">Close</button>
        <button mat-button [disabled]="form.invalid">OK</button>
    </p>
</form>

