<div [@fade-in]="'in'" class="form">
     <h3>Sign Up</h3>

     <mat-form-field>
         <input matInput
                name="email"
                type="email"
                placeholder="email"
                [formControl]="email"
                (input)="changeInput()"
                email required>

         <mat-error *ngIf="email.hasError('required')">You must enter a value</mat-error>
         <mat-error *ngIf="email.hasError('email')">Not a valid email</mat-error>
     </mat-form-field>

     <mat-form-field>
         <input matInput
                name="password"
                type="password"
                placeholder="password"
                [formControl]="password"
                (input)="changeInput()"
                (keyup.enter)="signUp()"
                minlength="5" required>

         <mat-error *ngIf="password.hasError('required')">You must enter a value</mat-error>
         <mat-error *ngIf="password.hasError('minlength')">Password must have more than 5 characters</mat-error>
     </mat-form-field>

     <p *ngIf="authService.error">
         <mat-error class="error" >{{authService.error}}</mat-error>
     </p>
     <p *ngIf="!authService.error">
         <button mat-button (click)="signUp()" [disabled]="email.invalid || password.invalid">Sign Up</button>
     </p>
</div>
